<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device--width, initial-scale=1.0">
    <title>Dong Hyun Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="proconnect" href="https://fonts.googleapi.com">
    <link rel="proconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    <div class="wrap">
        <header>
            <h1><i class="xi-emoticon-smiley-o xi-spin"></i> Hello </h1>
            <nav>
                <ul>
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#develop">DEVELOP</a></li>
                    <li><a href="#about">ABOUT</a></li>
                </ul>
            </nav>
        </header>

        <div id="home" class="con">
            <h2>Hello World !</h2>
            <video autoplay muted loop>
                <source src="img/bg1.mp4" type="video/mp4">
            </video>
        </div>
        <div id="develop" class="con">
            <h2>develop</h2>
        </div>
        <div id="about" class="con">
            <h2>ABOUT</h2>
        </div>
    </div>

</body>

</html>
