* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

html {
    scroll-behavior: smooth;
}

header {
    background: #19191c;
    padding: 20px 30px;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.con {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f9f9;
}

.con h2 {
    font-size: 30px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 50px;
    font-weight: bold;
}

#home {
    position: relative;
    overflow: hidden;
}

#home video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home h2 {
    font-size: 80px;
}

#develop {
    background: url(/img/bg1.jpg) center/cover;
    background-attachment: fixed;
}

#asset {
    background: url(/img/bg1.jpg) center/cover;
    background-attachment: fixed;
}